# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/doculex

# JWT
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d

# Server
PORT=5000

# ChromaDB (Phase 3 me use hoga)
CHROMA_URL=http://localhost:8000

# LLM / Embeddings (Phase 3/4 me use hoga - jo bhi provider choose karo)
LLM_API_KEY=your_llm_api_key_here
EMBEDDING_MODEL=text-embedding-3-small
